:root{
  --header-color: #212121;
  --title-color: #FFFFFF;
  --btn-color: #FFFFFF;
  --accent-color: #2196F3;
  --hero-item: #212121;
  --our-team: #F5F4FA;
  --color-75: #757575;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}
.list{
  list-style: none;
}
.link{
  text-decoration: none;
}
/* ----------------------header------------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header-logo{
  font-family: 'raleway', sans-serif ;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}
 .header-logo > span{
  font-family: 'raleway', sans-serif ;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;;
}
.header-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

color: var(--header-color);
}
.header-link:hover{
  color: var(--accent-color);
}
.header-link:focus{
  color: var(--accent-color);
}
.header-mail,.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-75);
}
.header-mail:hover{
  color: var(--accent-color);
}
/*.header-tel{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}*/
.header-tel:hover{
  color: var(--accent-color);
} 
/* ----------------------main------------------- */
.main{
  background-color: #2F303A;
}
.main-text{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: var(--title-color);
}
.main-btn{
font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.8;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: var(--btn-color);
}
.main-btn:hover{
  color: var(--accent-color);
}
.main-btn:focus{
  color: var(--accent-color);
}
.main-btn{
  cursor: pointer;
}

/* ----------------------hero------------------- */
.hero{
  background-color: #F5F5F5;
}

.hero-list > .hero-item >.title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;

color: var(--hero-item);
}

.hero-list > .hero-item > .hero-text{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--color-75);
}
.hero-subtitle{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.our-team {
  background-color: var(--our-team);
}

.hero-subtitle-2{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.about-team > .team .team-name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

}
.about-team > .team .name{
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

color: var(--color-75);

}
/* ----------------------footer------------------- */
.contacts{
  background-color: #2F303A;
}

.contacts-item-address{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
font-style: normal;

color: #FFFFFF;
}
.menu-btn{
  font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.menu-btn:hover{
  color: var(--accent-color);
}
.menu-btn:focus{
  color: var(--accent-color);
}
.menu-btn{
  cursor: pointer;
}

.card .card-title{
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color: #212121;
}
.card .card-subtitle{
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;

color: var(--color-75);
}
.section{
  background-color: #FFFFFF;;
}

.footer-logo{
  font-family: 'raleway', sans-serif ;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.footer-logo > span{
  font-family: 'raleway', sans-serif ;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-mail,.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover{
  color: var(--accent-color);
}

.footer-tel:hover{
  color: var(--accent-color);
} 